html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  color: white;
  background-color: #161515;
}

section {
  width: 90vw;
  height: calc(95vh - 7rem);
  margin: 0 auto;
  background-color: #161515;
}

h1 {
  margin: 0;
  padding: 0.75rem 0;
  font-size: 1.75rem;
  font-weight: normal;
  text-align: center;
}

.slider input[type=radio] {
  width: 0;
  height: 0;
}

.slider-inner {
  margin-top: -1.5rem;
  overflow: hidden;
}

.slider-slides {
  display: flex;
  width: 400%;
  transition: transform 0.8s ease;
}

.slider-slides img {
  width: 90vw;
  aspect-ratio: 1.4 / 1;
  max-height: calc(95vh - 7rem);
  border-radius: 0.75rem;
}

.slider-controls {
  z-index: 2;
  display: flex;
  justify-content: end;
  margin: 0;
  text-align: center;
  width: 45vw;
  transform: translate(45vw, -3.25rem);
  background-color: #161515;
}

.slider-controls label {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 3rem;
  margin: 0;
  cursor: pointer;
}

.label-inner {
  width: 0.75rem;
  height: 0.75rem; 
  background-color: blue;
  border: 2px solid blue;
  border-radius: 50%;
  transition: background-color 0.2s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] .label-inner,
#btn-2:checked ~ .slider-controls label[for="btn-2"] .label-inner,
#btn-3:checked ~ .slider-controls label[for="btn-3"] .label-inner,
#btn-4:checked ~ .slider-controls label[for="btn-4"] .label-inner {
  background-color: #161515;
}

#btn-1:checked:hover ~ .slider-controls label[for="btn-1"] .label-inner,
#btn-2:checked:hover ~ .slider-controls label[for="btn-2"] .label-inner,
#btn-3:checked:hover ~ .slider-controls label[for="btn-3"] .label-inner,
#btn-4:checked:hover ~ .slider-controls label[for="btn-4"] .label-inner {
  background-color: #161515;
  border-color: white;
}

#btn-1:hover ~ .slider-controls label[for="btn-1"] .label-inner,
#btn-2:hover ~ .slider-controls label[for="btn-2"] .label-inner,
#btn-3:hover ~ .slider-controls label[for="btn-3"] .label-inner,
#btn-4:hover ~ .slider-controls label[for="btn-4"] .label-inner {
  background-color: white;
  border-color: white;
}


#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-90vw);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-180vw);
}

#btn-4:checked ~ .slider-inner .slider-slides {
  transform: translate(-270vw);
}

@media screen and (max-width: 680px) {
  h1 {
    padding: 0.25rem 0;
    font-size: 1.5rem;
  }

  body {
    font-size: 1rem;
  }

}

@media screen and (max-width: 320px) {
  h1 {
    padding: 0.25rem 0;
    font-size: 1.25rem;
  }

  body {
    font-size: 1rem;
  }

  .slider-controls {
    justify-content: center;
    width: 90vw;
    transform: translate(0vw, -3.15rem);
    background-color: #161515;
  }

  .text {
    z-index: 3;
    transform: translateY(1rem);
  }

  .slider-controls label {
    height: 1.75rem;
  }
}

